.card {
    padding: 0;
    border: none;
    border-radius: 0.5rem;
    background-color: #28292f;
}

.card-title {
    color: #FCFCFC;
    margin-top: 5%;
    margin-bottom: 0;
}

.id-wrapper {
    background-color: #28292f!important;
}