@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Asul&family=Concert+One&family=Eczar&family=Fruktur&family=Kavoon&family=Neuton&family=Poppins&family=Roboto+Condensed&family=Space+Mono&family=Tillana&family=Work+Sans&display=swap');

body {
    font-family: 'Poppins';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #28292f;
    overflow: hidden;
    border-bottom: 2px solid #33353d;
}
    
li {
    float: left;
}
    
li .page-btn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
.header-btn:hover {
    color: #457B9D!important;
}

.header-btn:active {
    color: red!important;
}

.header-btn {
    /*background-color: #FCFCFC!important;*/
    color: #FCFCFC!important;
    font-size: large;
}

.header-container {
    height: 8vh;
    display: flex;
    align-items: center;
}

.signout-btn {
    margin-left: auto;
    margin-right: 1%;
}
